Fabric items - classic token/ws1-to-ws2.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "GetListOfWorkspaces",
        "type": "WebActivity",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "method": "GET",
          "headers": {},
          "relativeUrl": "/workspaces"
        },
        "externalReferences": {
          "connection": "13aeed68-f168-495e-8315-db64a3014365"
        }
      },
      {
        "name": "ForEach1",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "GetListOfWorkspaces",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "items": {
            "value": "@activity('GetListOfWorkspaces').output.value",
            "type": "Expression"
          },
          "batchCount": 3,
          "activities": [
            {
              "name": "If Condition1",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "value": "@equals(item().capacityId,toLower(pipeline().parameters.CurrentCapacityID))",
                  "type": "Expression"
                },
                "ifFalseActivities": [],
                "ifTrueActivities": [
                  {
                    "name": "Reallocate Capacity",
                    "type": "WebActivity",
                    "dependsOn": [],
                    "policy": {
                      "timeout": "0.12:00:00",
                      "retry": 0,
                      "retryIntervalInSeconds": 30,
                      "secureOutput": false,
                      "secureInput": false
                    },
                    "typeProperties": {
                      "method": "POST",
                      "headers": {
                        "Content-type": "application/json"
                      },
                      "relativeUrl": {
                        "value": "/workspaces/@{item().id}/assignToCapacity",
                        "type": "Expression"
                      },
                      "body": {
                        "value": "{\n    \"capacityId\" : \"@{pipeline().parameters.NewCapacityID}\"\n}",
                        "type": "Expression"
                      }
                    },
                    "externalReferences": {
                      "connection": "24dd11fa-975d-431f-a177-91d4abc99536"
                    }
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "CurrentCapacityID": {
        "type": "string",
        "defaultValue": "DF4C1FD6-F248-469E-8EBD-B1D8242DA591"
      },
      "NewCapacityID": {
        "type": "string",
        "defaultValue": "4D434DD9-827E-4A6B-A47A-EA5544016280"
      }
    }
  }
}